<!DOCTYPE html>
<html>
  <head>
    <title>ReCall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>

  <body class="min-h-screen bg-slate-100 pt-20"> <!-- pt-20で固定ヘッダーの下に余白 -->

    <!-- ヘッダー -->
    <header class="fixed top-0 left-0 w-full bg-white shadow-md z-10">
      <div class="container mx-auto px-5 py-4 flex justify-between items-center">
        <!-- 左：アプリ名 -->
        <%= link_to "ReCall", root_path, class: "text-xl font-bold text-gray-800" %>

      </div>
    </header>

    <!-- メインコンテンツ -->

    <main class="w-full max-w-md mx-auto bg-white p-8 rounded-lg shadow">
      <%= yield %>
    </main>

  </body>
</html>
